body {
  background: rgba(137, 193, 94, 1);
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%px;
  height: 100vh;
}
.rectangle1 {
  position: absolute;
  /* width: 800px; */
  width: 63.4%;
  /* height: 158px; */
  height: 26.8%;
  /* left: 240px; */
  left: 18%;
  /* top: 36px; */
  top: 5%;

  border: 2px solid #ffffff;
  border-radius: 13px;
}
#ROCK {
  position: absolute;
  width: 135px;
  height: 37px;
  /* left: 258px; */
  left: 20%;
  top: 7%;
  /* top: 78px; */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.1em;

  color: #ffffff;
}
#PAPER {
  position: absolute;
  width: 150px;
  height: 37px;
  /* left: 258px; */
  left: 20%;
  /* top: 120px; */
  top: 14.5%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.1em;

  color: #ffffff;
}

#SCISSOR {
  position: absolute;
  width: 235px;
  height: 37px;
  /* left: 259px; */
  left: 20%;
  /* top: 163px; */
  top: 22%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.1em;

  color: #ffffff;
}
#rectangle2 {
  position: absolute;
  width: 139px;
  height: 128px;
  /* left: 713px; */
  left: 55.6%;
  /* top: 77px; */
  top: 8%;

  background: #ffffff;
  border-radius: 9px;
}
#rectangle3 {
  position: absolute;
  width: 139px;
  height: 128px;
  /* left: 881px; */
  left: 68.8%;
  /* top: 77px; */
  top: 8%;

  background: #ffffff;
  border-radius: 9px;
}
#computer {
  position: absolute;
  width: 103px;
  height: 20px;
  /* left: 730px; */
  left: 57.1%;
  /* top: 84px; */
  top: 9%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #656565;
}
#CSCORE {
  position: absolute;
  width: 61px;
  height: 16px;
  /* left: 752px; */
  left: 58.8%;
  /* top: 106px; */
  top: 13%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #656565;
}
.cscore {
  position: absolute;
  width: 79px;
  height: 63px;
  /* left: 742px; */
  left: 58%;
  /* top: 128px; */
  top: 16%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
  text-align: center;

  color: #252525;
}

#YOUR {
  position: absolute;
  width: 50px;
  height: 16px;
  /* left: 926px; */
  left: 72.2%;
  /* top: 84px; */
  top: 9%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #656565;
}
#YSCORE {
  position: absolute;
  width: 61px;
  height: 16px;
  /* left: 920px; */
  left: 71.6%;
  /* top: 106px; */
  top: 13%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #656565;
}
.yscore {
  position: absolute;
  width: 79px;
  height: 63px;
  /* left: 910px; */
  left: 71%;
  /* top: 128px; */
  top: 16%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
  text-align: center;

  color: #252525;
}
#outerrock1 {
  position: absolute;
  width: 110px;
  height: 110px;
  /* left: 461px; */
  left: 36.04%;
  /* top: 313px; */
  top: 39.9%;

  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  border-radius: 50%;
}

#outerscissor1 {
  position: absolute;
  width: 110px;
  height: 110px;
  /* left: 697px; */
  left: 54.5%;
  /* top: 313px; */
  top: 39.9%;

  border: 16px solid #bd00ff;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  border-radius: 50%;
}
#outerpaper1 {
  position: absolute;
  width: 110px;
  height: 110px;
  /* left: 579px; */
  left: 45.28%;
  /* top: 517px; */
  top: 74.9%;

  border: 16px solid #ffa943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  border-radius: 50%;
}
#outerrock2 {
  position: absolute;
  width: 110px;
  height: 110px;
  /* left: 477px; */
  left: 37.3%;
  /* top: 329px; */
  top: 42.6%;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#outerscissor2 {
  position: absolute;
  width: 110px;
  height: 110px;
  /* left: 713px; */
  left: 55.75%;
  /* top: 329px; */
  top: 42.6%;
  cursor: pointer;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
#outerpaper2 {
  position: absolute;
  width: 110px;
  height: 110px;
  /* left: 595px; */
  left: 46.5%;
  /* top: 533px; */
  top: 77.6%;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}

#rockimg {
  position: absolute;
  width: 80px;
  height: 58.51px;
  /* left: 492px; */
  left: 38.6%;
  /* top: 351px; */
  top: 46.6%;
  /* border-radius: 50%; */
  cursor: pointer;
  /* background: url(); */
}

#scissorimg {
  position: absolute;
  width: 37px;
  height: 53.5px;
  /* left: 751.92px; */
  left: 58.7%;
  /* top: 352px; */
  top: 46.6%;
  cursor: pointer;
  /* background: url(17911.png); */
  transform: rotate(5.27deg);
}
#paperimg {
  position: absolute;
  width: 72px;
  height: 72px;
  /* left: 614px; */
  left: 48%;
  /* top: 552px; */
  top: 81%;
  cursor: pointer;

  /* background: url(icons8-hand-64.png); */
}
#line1 {
  position: absolute;
  width: 77px;
  height: 0px;
  /* left: 602px; */
  left: 47%;
  /* top: 380px; */
  top: 50%;

  border: 10px solid rgba(0, 0, 0, 0.64);
}
#line2 {
  position: absolute;
  width: 87px;
  height: 0px;
  /* left: 665px; */
  left: 52%;
  /* top: 478px; */
  top: 68.2%;
  border: 10px solid rgba(0, 0, 0, 0.64);
  transform: rotate(120deg);
}
#line3 {
  position: absolute;
  width: 89px;
  height: 0px;
  /* left: 535px; */
  left: 41.2%;
  /* top: 480px; */
  top: 67.8%;

  border: 10px solid rgba(0, 0, 0, 0.64);
  transform: rotate(60deg);
}

#rule-button {
  box-sizing: border-box;

  position: absolute;
  width: 119px;
  height: 40px;
  /* left: 1136px; */
  left: 88%;
  /* top: 630px; */
  /* bottom: 80px; */
  top: 90%;

  border: 2px solid #ffffff;
  border-radius: 10px;
}
#rule-text {
  position: absolute;
  width: 72px;
  height: 20px;
  /* left: 1160px; */
  left: 89.9%;
  /* top: 638px; */
  top: 91.4%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.1em;

  color: #ffffff;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}
.match {
  opacity: 0;
  pointer-events: none;
}
#ypicked {
  position: absolute;
  width: 113px;
  height: 16px;
  /* left: 333px; */
  left: 27.3%;
  /* top: 344px; */
  top: 50%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.outerCircle1 {
  position: absolute;
  width: 140px;
  height: 140px;
  /* left: 319px; */
  left: 24.96%;
  /* top: 415px; */
  top: 60%;
  border-radius: 50%;
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.innerCircle1 {
  position: absolute;
  width: 140px;
  height: 140px;
  /* left: 319px; */
  left: 26.2%;
  /* top: 415px; */
  top: 62.6%;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.yourImage {
  position: absolute;
  width: 80px;
  height: 65px;
  /* left: 349px; */
  left: 28.6%;
  /* top: 456px; */
  top: 69%;

  /* background: url(icons8-fist-67.png); */
}
.ywinner {
  position: absolute;
  width: 310px;
  height: 310px;
  /* left: 218px; */
  left: 19.4%;
  /* top: 310px; */
  top: 49%;
  border-radius: 50%;
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
}
.decisionText {
  position: absolute;
  width: 209px;
  height: 36px;
  /* left: 550px; */
  left: 44.5%;
  top: 70%;
  /* top: 454px; */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.against {
  position: absolute;
  width: 168px;
  height: 31px;
  /* left: 573px;
  top: 501px; */
  left: 46%;
  top: 78.3%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.playButton {
  position: absolute;
  width: 174px;
  height: 44px;
  /* left: 570px;
  top: 547px; */
  left: 45.6%;
  top: 84.3%;

  background: #ffffff;
  border-radius: 9px;
}
.playText {
  position: absolute;
  width: 99px;
  height: 14px;
  /* left: 609px;
  top: 561px; */
  left: 48.7%;
  top: 86.5%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #6b6b6b;
}
#ppicked {
  position: absolute;
  width: 100px;
  height: 16px;
  /* left: 867px; */
  left: 68%;
  /* top: 344px; */
  top: 50%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.outerCircle2 {
  position: absolute;
  width: 140px;
  height: 140px;
  /* left: 847px; */
  left: 66.2%;
  /* top: 415px; */
  top: 60%;
  border-radius: 50%;
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.innerCircle2 {
  position: absolute;
  width: 140px;
  height: 140px;
  /* left: 847px; */
  left: 67.45%;
  /* top: 415px; */
  top: 62.6%;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.pcImage {
  position: absolute;
  width: 80px;
  height: 65px;
  /* left: 877px; */
  left: 69.7%;
  /* top: 456px; */
  top: 69%;

  /* background: url(icons8-fist-67.png); */
}
.pwinner {
  position: absolute;
  width: 310px;
  height: 310px;
  /* left: 745px; */
  left: 60.5%;
  /* top: 310px; */
  top: 49%;
  border-radius: 50%;

  background: rgba(46, 154, 37, 0.39);
  box-shadow: 10px 11px 162px rgba(0, 0, 0, 0.13);
}
